@import "tailwindcss";

@theme {
  --color-primary: #010a5e;
  --color-primary-light: #010d78;
  --color-secondary: #ffcc00;
  --color-paragraph: #c0c0c0;
}

@layer base {
  body {
    @apply text-white bg-primary tracking-wider;
  }

  section {
    @apply pt-16 pb-4 md:pt-20;
  }
}

@layer components {
  .btn {
    @apply rounded-md inline-block text-sm px-8 py-3 capitalize cursor-pointer ease-linear duration-200;
  }

  .btn-primary {
    @apply bg-secondary text-black hover:opacity-75;
  }

  .btn-secondary {
    @apply bg-primary-light text-white hover:opacity-75;
  }
}

@layer utilities {
  .home_title, .card_title{
    @apply text-4xl font-bold uppercase lg:text-6xl;
  }

  .card_title {
    @apply text-xl;
  }

  .separator {
    @apply w-28 h-0.5 my-5 bg-secondary;
  }

  .paragraph {
    @apply text-paragraph text-xs leading-5;
  }

  .tab_wrap ul li:hover, .tab_wrap ul li.active{
    @apply bg-secondary
  }
}

@keyframes move {
  50% {
    transform: translateY(-1rem);
  }
}
@utility movingY {
  animation: move 2s linear infinite;
}
