@import "tailwindcss";

@theme {
  --color-primary: #010a5e;
  --color-primary-light: #010d78;
  --color-secondary: #ffcc00;
  --color-paragraph: #c0c0c0;
}

@layer base {
  body {
    @apply text-white bg-primary tracking-wider;
  }

  section {
    @apply pt-16 pb-4 md:pt-20;
  }
}

@layer components {
  .btn {
    @apply rounded-md inline-block text-sm px-8 py-3 capitalize cursor-pointer ease-linear duration-200;
  }

  .btn-primary {
    @apply bg-secondary text-black hover:opacity-75;
  }
}

@layer utilities {
  .home_title {
    @apply text-4xl font-bold uppercase lg:text-6xl;
  }

  .separator {
    @apply w-28 h-0.5 my-5 bg-secondary mx-auto;
  }

  .paragraph {
    @apply text-paragraph text-xs leading-5;
  }
}

/* @utility separator {
  @apply w-28 h-0.5 my-5 bg-secondary mx-auto;
} */
